<!-- <h1>Primer ejemplo</h1>
<h2>{{title}}</h2>
<hr>
<h3>Contador: {{constador}}</h3>
<button (click)="incrementarPor()">+{{X}}</button>
<button (click)="reset()">0</button>
<button (click)="disminuirPor()">-{{X}}</button>
<p>A 6969 metros... Bien venido a angular</p>

<hr>
<hr>
<h2>Componente</h2>
<app-contador></app-contador>
<app-contador></app-contador>

<hr>
<hr>
<h1>BootsTrap</h1>

TODO:El ejercico del comtador
<app-contador></app-contador>

TODO:Ejemplo del ejercicio 1
<app-Alumnos-alumno></app-Alumnos-alumno>

-->
<!-- TODO:Ejemplo de desaparecer botones -->
<!-- <app-heroes-heroe></app-heroes-heroe> -->

<!-- TODO: Ejemplo de lista de heroes -->
<!-- <app-lista-heroes></app-lista-heroes> -->

<!-- TODO: Creaccion de modulos  -->
<!-- <app-contador></app-contador> -->

<!-- TODO:De componentes a Modulos -->
<!-- <app-lista-heroes></app-lista-heroes>
<app-heroes-heroe></app-heroes-heroe> -->

<!-- <app-Alumnos-alumno></app-Alumnos-alumno> -->
<app-dbz-main-name></app-dbz-main-name>
