<!-- !Versión basica
 <div style="text-align: center;">
  <h1>Primer ejercicio angular <span class="badge text-bg-secondary">New</span>:</h1>

  <div *ngIf="centro" class="card" style="width: 32%; align-items: center; margin-left: 34%;">
    <img [src]="centro.logo" class="card-img-top" style="width: 20rem;margin-top: 3%;">
    <div class="card-body">
      <h5 class="card-title">{{centro.nombre}}</h5>

      <ul class="list-group" style="margin-bottom: 3%;">
        <li class="list-group-item active">Localidad:{{centros.localidad}}</li>

        <li class="list-group-item">Centro educativo:{{centro.nombre}}.</li>

        <li class="list-group-item">Familia Profesional:{{centro.familiaProf}}</li>
      </ul>
    </div>
  </div>
  <button *ngIf="centro" class="btn btn-primary my-2" (click)="centro.cambiarFamiliaProf()">
    Cambiar Familia Profesional
  </button>
  <br>
  <button *ngIf="centro" class="btn btn-primary mx-2" (click)="cambiarCentro('-')">
    <
  </button>

  <button *ngIf="centro" class="btn btn-success mx-2" (click)="restaurarCentro()">
    {{contador+1}}
  </button>

  <button *ngIf="!centro" class="btn btn-success mx-2" (click)="restaurarCentro()">
    Recuperar ultimo centro
  </button>

  <button *ngIf="centro" class="btn btn-danger mx-2" (click)="eliminarCentro()">
    X
  </button>

  <button *ngIf="centro" class="btn btn-primary mx-2" (click)="cambiarCentro('+')">
    >
  </button>
</div>

 -->
<!--* Versión mejorada -->
 <div style="text-align: center;">
  <h1>Primer ejercicio angular <span class="badge text-bg-secondary">New</span>:</h1>
  <div *ngIf="centros[contador]" class="card" style="width: 32%; align-items: center; margin-left: 34%;">
    <img [src]="centros[contador].logo" class="card-img-top" style="width: 20rem;margin-top: 3%;">
    <div class="card-body">
      <h5 class="card-title">{{centros[contador].nombre}}</h5>

      <ul class="list-group" style="margin-bottom: 3%;">
        <li class="list-group-item active">Localidad:{{centros[contador].localidad}}</li>

        <li class="list-group-item">Centro educativo:{{centros[contador].nombre}}.</li>

        <li class="list-group-item">Familia Profesional:{{centros[contador].familiaProf}}</li>
      </ul>
    </div>
  </div>
  <div style="text-align: center; width: 32%; margin-left: 34%;" class="card-body">
    <ul class="list-group" style="margin-bottom: 3%;">
      <li *ngFor="let centro of pila.reverse()" class="list-group-item">{{centro.nombre}}</li>
    </ul>
  </div>
  <button *ngIf="centros[contador]" class="btn btn-primary my-2" (click)="centros[contador].cambiarFamiliaProf()">
    Cambiar Familia Profesional
  </button>
  <br>
  <button *ngIf="centros[contador]" class="btn btn-primary mx-2" (click)="anterior()">
    <
  </button>

  <button *ngIf="centros[contador]" class="btn btn-success mx-2" (click)="restaurarCentro()">
    {{contador+1}}
  </button>

  <button *ngIf="!centros[contador]" class="btn btn-success mx-2" (click)="restaurarCentro()">
    Recuperar ultimo centro
  </button>

  <button *ngIf="centros[contador]" class="btn btn-danger mx-2" (click)="eliminarCentro()">
    X
  </button>

  <button *ngIf="centros[contador]" class="btn btn-primary mx-2" (click)="siguiente()">
    >
  </button>

